<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <div class="ticket">
      <h1>This certificate is to certify that</h1>
      <h1>This Person</h1>
      <h1>Lorem</h1>
    </div>
  </body>
</html>
